<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Node js</title>
    <style>
        body{
           color: #fff;
           background: #333;
           text-align: center;
           padding-top: 100px;
        }

        a{
            color: red;
        }
    </style>
</head>
<body>
    <h1>Главная страница</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus officia id, iste nisi dolore ratione ipsa tempora ea aperiam, provident ducimus sapiente laboriosam ipsum obcaecati praesentium illum? Atque, voluptatibus facere.</p>
<a href="/about">Инфа про нас</a>
</body>
</html>

